# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\apache-tomcat-8.5.59-windows-x64\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
